header {
    color: rgba(175, 47, 47, 0.5);
    font-size: 100px;
    text-align: center;
    width: 100%;
}

.app {
    background: white;
    margin: auto;
    width: 500px;
    box-shadow: 5px 5px 20px 5px #e0e0e0;
}

.app > * {
    width: 100%;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.app * {
    font-size: 20px;
}
